span,
div,
p,
a {
  user-select: none;
}

.container {
  padding: 16px !important;
}

@media (min-width: 1264px) {
  .container {
    padding: 32px !important;
    max-width: 1280px !important;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1280px !important;
  }
}

.v-navigation-drawer {
  box-shadow: none !important;
}

.sticky-top {
  position: sticky;
  top: 56px;
}

.desktop-layout .sticky-top {
  top: 96px;
}
